    </div>
</main>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Contacto:</strong>
            A01708940
        </p>
        <p>
            © 2023 Copyright
        </p>
    </div>
</footer>
</body>

</html>