<%- include('includes/header.ejs') %>
    <div class="hero-body">
        <div class="block">
            <div class="container">
                <h2 class="title algolia-lvl0">¿Qué beneficios encuentras en el estilo MVC?</h2>
            </div>
        </div>
        <div class="content">
            <p>
                No c
            </p>
        </div>
        <div class="block">
            <div class="container">
                <h2 class="title algolia-lvl0">¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h2>
            </div>
        </div>
        <div class="content">
            <p>
                Sí, es muy complicado y un poco enredoso tener un archivo para cada cosa. Me tomó bastante tiempo entender su funcionamiento :(
            </p>
        </div>
    </div>
<%- include('includes/footer.ejs') %>