<%- include('includes/header.ejs') %>
    <div class="hero-body">
        <div class="block">
            <div class="container">
                <h2 class="title algolia-lvl0">¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</h2>
            </div>
        </div>
        <div class="content">
            <p>
                Es más fácil modificar los datos, sin editar toda la interfaz, además añade una capa de seguridad a la misma y 
                simplifica/ordena el código de la app
            </p>
        </div>
        <div class="block">
            <div class="container">
                <h2 class="title algolia-lvl0">¿Qué es SQL injection y cómo se puede prevenir?</h2>
            </div>
        </div>
        <div class="content">
            <p>
                SQL Injection  es cuando un atacante quiere insertar código malicioso en la consulta SQL.
                Para prevenirlo se puede atender a las siguientes recomendaciones: <br>
                <ul>
                    <li>Usar sentencias parametrizadas</li>
                    <li>Validar las entradas</li>
                    <li>Asignar privilegios a los usuarios</li>
                </ul>
            </p>
        </div>
    </div>
<%- include('includes/footer.ejs') %>