<%- include('includes/header.ejs') %>
    <div class="hero-body">
        <div class="block">
            <div class="container">
                
            </div>
        </div>
        <div class="content">
            Enhorabuena! No hay preguntas para este laboratorio.
        </div>
    </div>
<%- include('includes/footer.ejs') %>