    </div>
</main>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>A01708940</strong> at <a href="https://tec.mx/es/queretaro">ITESM Campus Querétaro</a>
        </p>
        <p>
            WebPage created from scratch using: Bulma Boostrap, NodeJS, EJS, HTML5 . . . <br>
            with my knowledge aquired in the <strong>TC2005B: Software Construction and Decision Making</strong> course.
        </p>
        <p>
            © 2023 Copyright
        </p>
    </div>
</footer>
</body>

</html>