<%- include('includes/header.ejs') %>
    <div class="hero-body">
        <div class="block">
            <div class="container">
                <h2 class="title algolia-lvl0">¿Qué beneficios encuentras en el estilo MVC?</h2>
            </div>
        </div>
        <div class="content">
            <p>
                El patrón MVC separa la lógica de negocios del código de presentación y del control de la aplicación. Esto significa que
                los desarrolladores pueden trabajar en diferentes partes de la aplicación sin interferir en el trabajo de los demás.
                <br>
                También facilita el mantenimiento de la aplicación. Si se necesita hacer cambios en la lógica de negocios, se puede hacer sin afectar la presentación o el control de la
                aplicación.
            </p>
        </div>
        <div class="block">
            <div class="container">
                <h2 class="title algolia-lvl0">¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h2>
            </div>
        </div>
        <div class="content">
            <p>
                Sí, es muy complicado y un poco enredoso tener un archivo para cada cosa. Me tomó bastante tiempo entender su funcionamiento :(
            </p>
        </div>
    </div>
<%- include('includes/footer.ejs') %>