<%- include('includes/header.ejs') %>
    
    <% if (randTextArray.length > 0) { %>
        <% for (let text_element of randTextArray) { %>
            <div class="block">
            </div>
            <article class="message">
                <div class="message-header">
                    <p>Datos enviados al Servidor por: &lt;Usuario Anónimo&gt;</p>
                </div>
                <div class="message-body">
                    <ul>
                        <strong>Texto: </strong>
                        <%= text_element.randText %>
                    </ul>
                </div>
            </article>
        <% } %>
    <% } else { %>
        <div class="block">
        </div>
        <article class="message">
            <div class="message-header">
                <p>¡No hay datos enviados!</p>
            </div>
            <div class="message-body">
                <ul>
                    <strong>Texto: ¿? </strong>
                </ul>
            </div>
        </article>
    <% } %>
    <% if (session_last_call !='' ) { %>
        <div class="notification is-link is-light">
            This session last POST: <%= session_last_call %>
        </div>
    <% } %>

    <div class="block">
        <a class="button is-link is-outlined" href="/injection" type="submit" name="action">Regresar
        </a>
    </div>

<%- include('includes/footer.ejs') %>