<%- include('includes/header.ejs') %>
    <div class="hero-body">
        <div class="block">
            <div class="container">
                <h1 class="title algolia-lvl0">Error 404:</h1>
            </div>
        </div>
        <div class="block">
            La página que buscas no existe. Intenta ingresar a <strong>127.0.0.1:3000/homepage/</strong>
        </div>
    </div>
<%- include('includes/footer.ejs') %>