<%- include('includes/header.ejs') %>
    <div class="hero-body">
        <div class="block">
            <div class="container">
                
            </div>
        </div>
        <div class="content">
            ¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications)?
        </div>
        <div class="content">
            
            ¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del
            cliente o del lado del servidor?
        </div>
        <div class="content">
            ¿Qué es JSON?
        </div>
    </div>
<%- include('includes/footer.ejs') %>