<%- include('includes/header.ejs') %>
    <div class="hero-body">
        <div class="block">
            <div class="container">
                
            </div>
        </div>
        <div class="block">
            <h2 class="title algolia-lvl0">¿En qué consiste el control de acceso basado en roles?</h2>
            <div class="content">
                Por sus siglas en inglés (Role-Based Access Control), es un modelo de seguridad que 
                define el acceso a recursos y acciones dentro de un sistema o aplicación en función de los
                roles de los usuarios. Se asignan diferentes roles a los usuarios, y cada rol tiene un conjunto 
                de permisos asociados.
            </div>
        </div>
        <div class="block">
            <h2 class="title algolia-lvl0">Ventajas y desventajas del RBAC</h2>
            <div class="content">
                <p>
                    Ventajas:
                    <ul>
                        <li>Mejor administración</li>
                        <li>Seguridad mejorada</li>
                        <li>Flexibilidad en las interfaces y funciones del usuario</li>
                    </ul>
                    Desventajas:
                    <ul>
                        <li>Mayor complejidad del sistema</li>
                        <li>Sistema más estricto y menos fácil de modificar (restringido)</li>
                        <li>Puede ser costosa su implementación</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
<%- include('includes/footer.ejs') %>