<%- include('includes/header.ejs') %>
    <div class="hero-body">
        <div class="block">
            <div class="container">
                <h2 class="title algolia-lvl0">¿Qué otros templating engines existen para node?</h2>
            </div>
        </div>
        <div class="content">
            <ul>
                <li>
                    Moustache: un motor de plantilla minimalista que se puede utilizar en varios lenguajes de programación.
                </li>
                <li>
                    Handlebars.js: un motor de plantillas basado en la sintaxis de Mustache que permite la reutilización de código
                    en la
                    plantilla.
                </li>
                <li>
                    Nunjucks: un motor de plantillas basado en la sintaxis Jinja2 muy potente y flexible.
                </li>
                <li>
                    Pug (anteriormente conocido como Jade): un motor de plantillas que utiliza un lenguaje de marcado simplificado y
                    legible por humanos.
                </li>
            </ul>
        </div>
    </div>
<%- include('includes/footer.ejs') %>