<%- include('includes/header.ejs') %>
    <div class="hero-body">
        <div class="block">
            <div class="container">
                <h2 class="title algolia-lvl0">¿Qué otras formas de autentificación existen?</h2>
            </div>
        </div>
        <div class="content">
            <ul>
                <li>
                    <Strong>2FA: </Strong> Por medio de un código enviado a través de un mensaje de texto o una aplicación de autenticación.
                </li>
                <li>
                    <Strong>Cuenta externa: </Strong> Utilizando cuentas de otros servicios como Google, Microsoft, Facebook
                </li>
                <li>
                    <Strong>Biométrica: </Strong> Utiliza rasgos físicos únicos del usuario, como huellas dactilares, reconocimiento facial o de voz
                </li>

            </ul>
        </div>
    </div>
<%- include('includes/footer.ejs') %>