<%- include('includes/header.ejs') %>
    <div class="hero-body">
        <div class="block">
            <div class="container">
                <h2 class="title algolia-lvl0">¿Qué otras formas de autentificación existen?</h2>
            </div>
        </div>
        <div class="content">
            <p>
                No c
            </p>
        </div>
    </div>
<%- include('includes/footer.ejs') %>