<%- include('includes/header.ejs') %>
<h1 class="title">LogIn</h1>
<% if (mensaje !='' ) { %>
    <div class="notification is-link is-light">
        <%= mensaje %>
    </div>
<% } %>
<form action="/session/login" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label for="username">Username:</label>
    <input name="username" id="username" class="input is-rounded" type="text" placeholder="Ian326">
    <br><br>
    <label for="password">Contraseña:</label>
    <input name="password" id="password" class="input is-rounded" type="password" placeholder="patitos123">
    <br><br>
    <input class="button is-rounded is-success" type="submit" value="Entrar">
</form>

<%- include('includes/footer.ejs') %>