<%- include('includes/header.ejs') %>
    <div class="hero-body">
        <div class="block">
            <div class="container">
                
            </div>
        </div>
        <div class="block">

            <h2 class="title algolia-lvl0">¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications)?</h2>
            
            <div class="content">
                
                Permite que las aplicaciones web interactúen con el servidor en segundo plano, sin tener que recargar toda la página
                cada vez que se hace una solicitud al servidor. <br>
                Esto permite a las aplicaciones web responder más rápidamente a las acciones del usuario y proporcionar una
                experiencia de usuario más fluida y responsiva.

            </div>

        </div>

        <div class="block">

            <h2 class="title algolia-lvl0">¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del
            cliente o del lado del servidor?</h2>
           
            <div class="content">

                Una de las principales preocupaciones de seguridad con AJAX es la posibilidad de ataques de Cross-Site Scripting (XSS),
                donde los atacantes pueden insertar código malicioso en la página web a través de entradas de usuario y permitir al atacante 
                robar datos de sesión, controlar la cuenta de un usuario, o realizar otras acciones maliciosas.
                <br>
                Las validaciones de seguridad, se deben hacer en ambos lados, tanto del lado del cliente como del lado del servidor. Las
                validaciones del lado del cliente pueden mejorar la experiencia del usuario al dar respuestas más rápidas sin la espera
                del servidor, mientras que las validaciones del lado del servidor aseguran de que los datos enviados por el cliente 
                sean seguros y cumplan con las reglas de negocio.

            </div>
        </div>

        <div class="block">

            <h2 class="title algolia-lvl0">¿Qué es JSON?</h2>

            JSON (JavaScript Object Notation) se basa en un subconjunto del lenguaje de programación JavaScript y es un formato de texto que es fácil de analizar y
            generar para cualquier lenguaje de programación.
            
            JSON se utiliza comúnmente para enviar y recibir datos entre una aplicación web y un servidor. Los datos se organizan en
            objetos y matrices, y se pueden utilizar cadenas, números, booleanos y valores nulos. Los objetos se definen como pares
            clave-valor, donde la clave es una cadena y el valor puede ser cualquier tipo de datos JSON válido.

            <div class="content">



            </div>

        </div>
        
    </div>
<%- include('includes/footer.ejs') %>