body {
    background-color: rgb(46, 120, 185);
    color: #555;
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
        padding: 4em 1em;
}
h2 {
    margin-top: 1em;
    padding-top: 1em;
}

th {
    color: coral
}
h2.tables{
    color: #333
}

#t1c1{
    color: greenyellow
}

#t1c1:hover {
    color: coral
}

